body.light {
    background: #ffffff;
}
body.dark {
    background: #1f1e25;
}

.deleting-container {
    display: flex;
    height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.deleting-subtitle {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

body.light .deleting-title {
    color: #333238;
}

body.dark .deleting-title {
    color: #ececef;
}

body.light .deleting-subtitle {
    color: #333238;
}

body.dark .deleting-subtitle {
    color: #ececef;
}